

/*sitting box*/

.language {
    position: absolute;
    right: 0;
    margin-right: 251px;
    margin-top: 50px;
    text-align: center;
    border-radius: 5%;
    background-color: rgb(25, 23, 23);
    width: 136px;
    height: 180px;
    z-index: 2;
    opacity: 70%;
    list-style: none;
    transition: 0.5s;
    top: -350px;
}
@media (max-height:300px) {
    .language .activelang{
        font-size: 10px;
    }

}

/*start landing-page*/

.Landing-Page .header .logo{
    width: 300px;
    padding: 15px;
    position: absolute;
    left: 0;
    margin-left: 20px;
    top: -2px;
/*landing text madia mid screen*/
    }
    @media (max-height:450px) {
        .Landing-Page .Landing-text{
            top: 60%;  
          
        } 
    }
    
    @media (max-height:375px) {
        .Landing-Page .Landing-text{
            top: 80%;  
          
        } 
    }

/*landing text madia small screen*/
    
    @media (max-height:450px) {
        .Landing-Page .Landing-text h1{
          
            font-size: 30px;
        } 
    }
    
    
    @media (max-height:375px) {
        .Landing-Page .Landing-text h1{
          
            font-size: 20px;
        } 
    }
/*landing text madia big screen*/

    @media (max-width:950px) {
        .Landing-Page h1{
            font-size: 30px;
            margin-top: 10px;
        }
    }



    @media (max-width:300px) {
        .Landing-Page h1{
            font-size: 15px;
           
        }
    }
    
    @media (max-width:300px) {
        .Landing-Page .Landing-text{
            top: 55%;  
          
        } 
    }

    @media (max-height:450px) {
        .Landing-Page .buls{
            bottom: 0%;
        }
    }
    
    .chapter .header .fa-globe{
        
    margin-top: 18px;
margin-left: 0px;
    position: absolute;
    margin-right: 310px;
    right: 0%;
       
    }
/*end landing-page*/